.header {
    background-color: #5e5e5e;
    color: white;
}

.sidebar {
    background-color: #000;
    height: 100%;
    min-height: 619px;
    color: white;
}

.sidebar a {
    color: white;
    text-decoration: underline;
}

.sidebar div div div div a {
    padding-left: 20px;
}

.pageContentWrapper {
    background-color: #c6cbc4;
}

.pageHeader ol {
    padding: 0;
    float: none;
    margin-bottom: 15px;
}

.pageHeader ol li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

.pageContent {
    margin-top: 50px;
    min-height: 500px;

    background-color: #eee;
}

.footer {
    background-color: #5e5e5e;
    text-align: center;
    color: white;
}

.accordion-inner {
    font-size: 11px;
}

.clock {
    height: 250px;
    width: 250px;
}

.gridStyle {
    width: 100%;
    height: 500px;
    border: 1 solid black;
}
